page-home {
    .cardContent {
        //transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        overflow: hidden;
        transition: all 0.5s ease-out;
    }

    .cardContentActive {
        max-height: 300px;
    }

    .cardContentPassive {
        max-height: 0px;
    }

    .cardAllActive {
        transform: scale(1.1);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .cardAllPassive {
        transform: scale(1.0);
    }

    .abstimmenButton {
        width: 100%;
    }

    .answerList {
        background-color: grey;
        border-radius: 5px;
        -webkit-box-shadow: inset -4px -5px 15px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: inset -4px -5px 15px -6px rgba(0,0,0,0.75);
        box-shadow: inset -4px -5px 15px -6px rgba(0,0,0,0.75);
    }
}

