<ion-header>

  <ion-navbar>
    <ion-title>VOTE ERSTELLEN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #f5f6fa;">
  <div class="pageContent">
    <h3>Frage</h3>
    <ion-item>
      <ion-label floating>Frage</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <div class="headerContainer">
      <h3>Antwortmöglichkeiten</h3>
      <ion-icon *ngIf="numbers.length>1" style="width:25px; height:25px; font-size:25px;" name="ios-remove-circle-outline" (click)="removeInput()"></ion-icon> 
      <ion-icon style="width:25px; height:25px; font-size:25px;" name="ios-add-circle-outline" (click)="addInput()"></ion-icon>
    </div>
    <ion-list>
      <ion-item *ngFor="let nr of numbers">
        <ion-label floating>Antwortmöglichkeit</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
    <button class="abstimmenButton" ion-button color="dark" outline (click)="logAll()">Posten</button>
  </div>
</ion-content>
